.loading-container {
    width: 100%;
    height: calc(100vh - 20px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading{
    font: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}