.base-container {
    width: 100vw;
    height: calc(100vh - 20px);
}

.base-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 55px 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    grid-template-areas:
    "local-area main-area main-area"; 
}

.grid-item {
    border: .1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
}

.local-area { grid-area: local-area;

}
.main-area { grid-area: main-area;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.get-w_input {
    font-size: small;
}

.weather-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 150px;
    border: 1px solid;
    border-radius: 25px; 
}

.weather-input {
    margin-top: 5px;
    margin-bottom: 2px;
}

@media (width < 950px){
    .base-grid{
    grid-template-columns: 55px 1fr 1fr;}
}